---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SubHero from "../components/SubHero.astro";
---

<Layout title="Welcome to Astro.">
  <main class="px-12 pt-32 xl:px-40 sm:px-32 h-full">
    <Header />
    <SubHero />
  </main>
</Layout>
